{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col col-6" style="width: 720px;">
            <div class="container" style="padding: 40px 0px;">
                <h1 style="font-weight: 700;"></h1>
            </div>
            <div>
                <br>
                <h1>{{blog.title}}</h1>
                <p>{{blog.pub_date}}</p>
                <p>{{blog.body}}</p>
                <br>
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-secondary" href="{% url 'delete' blog.id %}">삭제</a>
                    <a class="btn btn-outline-secondary" href="{% url 'edit' blog.id %}">수정</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}