{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col col-6" style="width: 720px;">
            <div class="container" style="padding: 40px 0px;">
                <h1 style="font-weight: 700;">Edit</h1>
            </div>
            <div class="container">
                <br>
                <form action="{% url 'update' blog.id %}" method="POST">
                    {% csrf_token %}
                    <h4>제목</h4>
                    <textarea type="text" name="title" cols="88" rows="1">{{blog.title}}</textarea>
                    <br>
                    <br>
                    <h4>본문</h4>
                    <textarea name="body" cols="88" rows="15">{{blog.body}}</textarea>
                    <br>
                    <br>
                    <input type="submit" value="제출하기" class="btn btn-outline-secondary">
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}