{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col col-6" style="width: 720px;">
            <div class="container" style="padding: 40px 0;">
                <h1 style="font-weight: 700;">Home</h1>
            </div>
            <div class="list-group">
                {% for blog in posts %}
                <a href="{% url 'detail' blog.id %}" class="list-group-item list-group-item-action" style="padding: 15px;">
                    <h6>{{blog.title}}</h6>
                    <small class="text-muted">{{blog.summary}}</small>
                    <br>
                    <small class="text-muted">{{blog.pub_date}}</small>
                </a>
                {% endfor %}
            </div>
            <ul class="pagination pagination-sm justify-content-center" style="padding: 50px 0 0 0;">
                {% if posts.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link text-dark">처음</a></li>
                <li class="page-item"><a href="?page={{posts.previous_page_number}}" class="page-link text-dark">이전</a></li>
                {% else %}
                <li class="page-item disabled"><a href="#" class="page-link" tabindex="-1" aria-disabled="true">처음</a></li>
                <li class="page-item disabled"><a href="#" class="page-link" tabindex="-1" aria-disabled="true">이전</a></li>
                {% endif %}
                {% if posts.has_next %}
                <li class="page-item"><a href="?page={{posts.next_page_number}}" class="page-link text-dark">다음</a></li>
                <li class="page-item"><a href="?page={{posts.paginator.num_pages}}" class="page-link text-dark">끝</a></li>
                {% else %}
                <li class="page-item disabled "><a href="#" class="page-link" tabindex="-1" aria-disabled="true">다음</a></li>
                <li class="page-item disabled"><a href="#" class="page-link" tabindex="-1" aria-disabled="true">끝</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}