<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container justify-content-center">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'new' %}">Write</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'aboutme' %}">About me</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col col-6" style="width: 720px;">
        <div class="container" style="padding: 40px 0px;">
          <h1 style="font-weight: 700;">글쓰기</h2>
        </div>
        <div class="container">
          <br>
          <form action="{% url 'create' %}" method="GET">
            <h4>제목</h4>
            <input type="text" name="title" style="width: 640px;">
            <br>
            <br>
            <h4>본문</h4>
            <textarea name="body" cols="88" rows="15"></textarea>
            <br>
            <br>
            <input type="submit" value="제출하기" class="btn btn-outline-secondary">
          </form>
          <footer style="padding: 100px 0 200px 0">
            <hr>
            <p style="color: grey;">Copyright ⓒ 신재우 All rights reserved.</p>
          </footer>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</body>
</html>